:root {
  --voilet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--voilet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*create a wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* max-width: 580px; */
  margin: auto;
  padding: 1.5rem;
}

.container {
  max-width: 580px;
  margin: auto;
}
.title {
  text-align: center;
}
header {
  max-width: 580px;
  margin: auto;
}

.main-image {
  width: 100%;
}

.logo {
  /* width: 100%; */
}

.main-section {
  display: flex;
  flex-direction: column;
}

.secondary-section {
  margin-top: 60px;
  color: white;
}

.paragraph {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-shrink: 1;
  flex-grow: 1;
  margin-bottom: 10px;
}

.button {
  padding-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 15px;
  border-radius: 30px 30px 30px 30px;
  display: block;
  margin: 2rem auto;
}

.icons {
  display: flex;
  justify-content: center;
}

.fab {
  margin-top: 80px;
  margin-left: 20px;
  font-size: 30px;
  margin-bottom: 20px;
}

i {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  padding: 10px;
  color: white;
}


@media (min-width: 768px) {

}
@media (min-width: 1080px) {
  body {
    background-image: url(./images/bg-desktop.svg);
  }

  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  header {
    flex: 1 1 60%;
  }

  .logo {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 200px;
  }

  .container {
    flex: 1 1 40%;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
  }

  .main-section {
    min-width: 284px;
    display: flex;
    min-height: 480px;
  }

  footer {    
    flex: 1;
  }

  .paragraph {
    text-align: left;
  }

  .attribution {
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
  }
}